<%- include('header/header') %>

<button id="show-dialog" type="button" class="mdl-button">Show Dialog</button>
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Informa o Nome da Sala</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" value="" />
            <label class="mdl-textfield__label" for="roomName">Nome Room</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
       
        <button type="button" class="mdl-button close">Sair</button>
        <button type="button" class="mdl-button" id="send">Enviar</button>
    </div>
</dialog>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    
        var socket = io()
        socket.on('newRoom',  room =>{
            console.log('Nova Sala ADD: ', room)
        })
        var dialog = document.querySelector('dialog');
        var showDialogButton = document.querySelector('#show-dialog');
        var sendRoomName = document.querySelector('#send');
        var room = document.getElementById('name')
        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog)

            
        }
        showDialogButton.addEventListener('click', function () {
            dialog.showModal();
        });
        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });

        sendRoomName.addEventListener('click', function () {
            let roomName = $('#name').val()
            if(roomName !== null){
               socket.emit('addRoom', roomName)
               dialog.close();
            }else{
                console.error('Deu Ruim')
            }
        });

       

</script>


<%- include('footer/footer') %>