<%- include('header/header') %>
<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--4-col" style="background: #968080; height: 100vh; border-radius: 15px 0 0 0">

        <div style="background:black; height: 250px; width: 100%; position: relative; border-radius: 15px 0 0 0">
            <div class="avatar" style="background: url(/img/icon/011-pokemon-10.png) no-repeat; background-position: center; background-size: 90px">

            </div>
            <div class="avatar-name">
                <span style="color: #ffff">Meu nome</span>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="position: relative; right: -340px; top: 81px;"
                id="show-dialog">
                <i class="material-icons">add</i>
            </button>
        </div>

        <section class="">
            <ul class='mdl-list my-rooms'>
                <li class="mdl-list__item">
                    <a href="/rooms">
                        <span class="mdl-list__item-primary-content">Felicidade</span>
                    </a>

                </li>
                <li class="mdl-list__item">
                    <a href="/rooms">
                        <span class="mdl-list__item-primary-content">Armonia</span>
                    </a>
                </li>
                <li class="mdl-list__item">
                    <a href="/rooms">
                        <span class="mdl-list__item-primary-content">Estados</span>
                    </a>
                </li>
            </ul>

        </section>
    </div>
    <div class="mdl-cell mdl-cell--8-col" style="background: #f1f1f1; min-height: 500px; height: 100vh;">
        <div class="mdl-card mdl-shadow--4dp" style="width: 100%; border-radius: 0 15px  0 0">
            
                <div class="mdl-card__title">
                    <span>Meu Nome</span>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>Salve...</p>
                </div>
            </div>
        </div>

    </div>
</div>

<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Informa o Nome da Sala</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" value="" />
            <label class="mdl-textfield__label" for="roomName">Nome Room</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">

        <button type="button" class="mdl-button close">Sair</button>
        <button type="button" class="mdl-button" id="send">Enviar</button>
    </div>
</dialog>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

    var socket = io()
    socket.on('newRoom', room => {
        console.log('Nova Sala ADD: ', room)
    })
    var dialog = document.querySelector('dialog');
    var showDialogButton = document.querySelector('#show-dialog');
    var sendRoomName = document.querySelector('#send');
    var room = document.getElementById('name')
    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog)
    }
    showDialogButton.addEventListener('click', function () {
        dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });

    sendRoomName.addEventListener('click', function () {
        let roomName = $('#name').val()
        if (roomName !== null) {
            socket.emit('addRoom', roomName)
            dialog.close();
        } else {
            console.error('Deu Ruim')
        }
    });



</script>


<%- include('footer/footer') %>